*{
    font-family: sans-serif;
    color: black;
 }
.form{
    display: flex;
    flex-direction: column;
    border: solid 0px;
    border-color: gray;
    height: 450px;
    width: 20%;
    margin: 150px;
    margin-left: 600px;
    background-color:antiquewhite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.form h2{
    text-align: center;
    font-weight: 800;
}
.icon{
    display: flex;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
    margin-top: -20px;
    margin-top: 10px;
    gap: 35px;
    padding-right: 20px;
}
.pic{
    border: solid gray 1px;
    border-radius: 5px;
}
.pic img{
    height:30px;
    width: 30px;
    
}
.form-content{
    padding: 40px;
    padding-left: 50px;
}
.form-content .email-address{
    font-size: 15px;
}
.form-content #email-address{
    margin: 5px 0px 25px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}
.form-content #password{
    margin: 5px 0px 25px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}
.buton{
    height: 35px;
    width: 210px;
    background-color: lightgreen;
    border-radius: 5px;
    cursor:grab;
}

.btn{
    height: 35px;
    width: 165px;
    cursor: crosshair;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
