* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdfaf5;
    color: #333;
}

/* 1st page */

header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding:   20px 5%;
    margin-left: 80px;
    margin-top: 20px;
}

.nav-logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.nav-logo img {
    width: 60px;
    margin-right: 10px;
}

.nav-logo-highlight {
    color: #88b14b;
}

nav a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    margin: 0 15px;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 2%;
    margin-top: -80px;
}

.hero-text h1 {
    font-size: 3.4rem;
    color: #333;
    line-height: 1.6;
    width: 80%;
}

.hero-text h1 span {
    color:#ffb238;
}

.hero-text p {
    margin: 20px 0;
    color: #333;
}

.buy-btn {
    background-color: #85A019;
    color: #fff;
    padding: 16px 28px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
}

.buy-btn:hover {
    background-color: #88b14b;
}

.hero-image {
    position: relative;
}

.hero-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #88b14b;
}

/* 2nd page */

.product {
    text-align: center;
    padding: 100px 5%;
}

.product h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 30px;
}

.product-section {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding-left: 60px;
}

.product-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}


.product-img {
    background-color: #F1F1F1;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 0px;
    width: 380px;
    height: 65%;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
}

.product-img:hover {
    transform: translateY(-5px);
}

.product-img img {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-content h3 {
    text-align: left;
    font-size: 1.3em;
    color: #333;
    margin-bottom: 10px;
}

.product-content p {
    text-align: left;
    width: 80%;
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
}

.price {
    display: flex;
    margin-top: -80px;
}

.price h4 {
    font-size:2rem;
    color: #FABE4C;
    margin-right: 105px;
}

/* 3rd page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5%;
    margin:60px 10px
}

.feature-cards {
    margin-left: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-cardx {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s ease;
}

.feature-cardx:hover {
    transform: translateY(-5px);
}

.feature-card{
    display: flex;
    gap: 20px;
}

.feature-icon {
    width: 70px;
    height: 70px;
}

.feature-card h3 {
    font-size: 1.em;
    color: #333;
    margin-left: 15px;
}

.feature-cardx p {
    font-size: 0.9em;
    color: #666;
    margin-left: 105px;
    margin-top: -30px;
}

.feature-image img {
    width: 100%;
    max-width: 500px;
}

.feature-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

